<a href="https://colab.research.google.com/github/ektamistry/ekta/blob/main/diabetes_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# to standarizwd the data 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
# support vector machine 
from sklearn import svm
from sklearn.metrics import accuracy_score

In [ ]:
# to read the data 
Diabetes_Dataset = pd.read_csv('/content/Pima_Indian_Diabetes.csv')
Diabetes_Dataset.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
Diabetes_Dataset.shape

(768, 9)

In [ ]:
Diabetes_Dataset.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.835938  120.894531  ...   33.229167    0.348958
std       3.370500   31.972618  ...   11.738995    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
# 0=NonDiabetic & 1= Diabetic
Diabetes_Dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
Diabetes_Dataset.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429892  31.190000
1           4.839552  141.257463  ...                  0.550500  37.033582

[2 rows x 8 columns]

In [ ]:
# to drop a column than axis = 1 
# to drop a row than axis =0
X=Diabetes_Dataset.drop(columns='Outcome',axis=1)
Y=Diabetes_Dataset['Outcome']

In [ ]:
# normalization
Scaler= StandardScaler()
Normalized_Data=Scaler.fit_transform(X)
print(Normalized_Data)

[[ 0.64247817  0.84832379  0.1504118  ...  0.20576617  0.46828872
   1.42957407]
 [-0.84194792 -1.12339636 -0.15983778 ... -0.68210519 -0.36545526
  -0.19001792]
 [ 1.23624861  1.94372388 -0.26325431 ... -1.10067311  0.60422524
  -0.10477624]
 ...
 [ 0.34559295  0.00330087  0.1504118  ... -0.73284069 -0.68566128
  -0.2752596 ]
 [-0.84194792  0.1597866  -0.47008736 ... -0.23816951 -0.37149688
   1.17384902]
 [-0.84194792 -0.8730192   0.04699527 ... -0.20011788 -0.47420448
  -0.87195139]]

In [ ]:
X=Normalized_Data
Y=Diabetes_Dataset['Outcome']
print(X)
print(Y)

[[ 0.64247817  0.84832379  0.1504118  ...  0.20576617  0.46828872
   1.42957407]
 [-0.84194792 -1.12339636 -0.15983778 ... -0.68210519 -0.36545526
  -0.19001792]
 [ 1.23624861  1.94372388 -0.26325431 ... -1.10067311  0.60422524
  -0.10477624]
 ...
 [ 0.34559295  0.00330087  0.1504118  ... -0.73284069 -0.68566128
  -0.2752596 ]
 [-0.84194792  0.1597866  -0.47008736 ... -0.23816951 -0.37149688
   1.17384902]
 [-0.84194792 -0.8730192   0.04699527 ... -0.20011788 -0.47420448
  -0.87195139]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
# train test split
# 20% of test data 
X_train,X_test,Y_train,Y_test= train_test_split(X,Y,test_size=0.2 ,
                                                stratify=Y,random_state=2)
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

In [ ]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
import pandas as pd

In [ ]:
# model training 
classifier=svm.SVC(kernel='linear')

NameError: ignored

In [ ]:
# traning the SVM classifier
classifier.fit(X_train,Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
# model  accuracy on training data
X_train_Prediction= classifier.predict(X_train)
traning_data_accuracy= accuracy_score(X_train_Prediction,Y_train)
print('accuracy = ',traning_data_accuracy)

accuracy =  0.7850162866449512

In [ ]:
# model  accuracy on test data
X_test_Prediction= classifier.predict(X_test)
test_data_accuracy= accuracy_score(X_test_Prediction,Y_test)
print('accuracy = ',test_data_accuracy)

accuracy =  0.7727272727272727

In [ ]:
#4,110,92,0,0,37.6,0,191,30
from array import array
#a=list(input("enter ur vaues"))
a=(4,110,92,0,0,37.6,0,191,30)
InputData=np.asarray(a)
InputData_reshape=InputData.reshape(1,-1)
Normalized_Data=Scaler.transform(InputData_reshape)
print(Normalized_Data)